<div>
  <%= f.label :amount_due_in_btc %><br />  
  <%= f.text_field :amount_due_in_btc %>
</div>
<div>
  <%= f.label :amount_repaid_in_btc %><br /> 
  <%= f.text_field :amount_repaid_in_btc %>
</div>
<div>
  <%= f.label :date_started %><br />
  <%= f.text_field :date_started %>
</div>
<div>
  <%= f.label :days_late %><br /> 
  <%= f.text_field :days_late %>
</div>
<div>
  <%= f.label :interest_in_percent %><br /> 
  <%= f.text_field :interest_in_percent %>
</div>
<div>
  <%= f.label :loan_amount_in_btc %><br />
  <%= f.text_field :loan_amount_in_btc %>
</div>
<div>
  <%= f.label :loan_description_by_borrower %><br />
  <%= f.text_field :loan_description_by_borrower %>
</div>
<div>
  <%= f.label :loan_duration_in_days %><br />
  <%= f.text_field :loan_duration_in_days %>
</div>
<div>
  <%= f.label :loan_url %><br />
  <%= f.text_field :loan_url %>
</div>
<div>
  <%= f.label :payment_cycle_in_days %><br />
  <%= f.text_field :payment_cycle_in_days %>
</div>
<div>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>