<p id="notice"><%= notice %></p>

<p>
  <b>Loan url:</b>
  <%= @loan.loan_url %>
</p>

<p>
  <b>Title:</b>
  <%= @loan.title %>
</p>

<p>
  <b>Date started:</b>
  <%= @loan.date_started %>
</p>

<p>
  <b>Loan duration in days:</b>
  <%= @loan.loan_duration_in_days %>
</p>

<p>
  <b>Payment cycle in days:</b>
  <%= @loan.payment_cycle_in_days %>
</p>

<p>
  <b>Interest in percent:</b>
  <%= @loan.interest_in_percent %>
</p>

<p>
  <b>Loan amount in btc:</b>
  <%= @loan.loan_amount_in_btc %>
</p>

<p>
  <b>Amount repaid in btc:</b>
  <%= @loan.amount_repaid_in_btc %>
</p>

<p>
  <b>Amount due in btc:</b>
  <%= @loan.amount_due_in_btc %>
</p>

<p>
  <b>Days late:</b>
  <%= @loan.days_late %>
</p>

<p>
  <b>Loan description by borrower:</b>
  <%= @loan.loan_description_by_borrower %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
